<%- include("partials/header") -%>
    <h1>What is Blogit?</h1>
    <p>
        <%= homeStartingContent %>
        <a href="/compose">Get started!</a>
    </p>
    <% posts.forEach(function(post){ %>
        <h1><%= post.titleInput %></h1>
        <p> <%= post.blogInput.substring(0, 100) + "... " %> <a href="/posts/<%= post.titleInput.replace(" ", "-") %>">Read More</a> </p>
    <% }) %>
    <%- include("cards") -%>
<%- include("partials/footer") -%>